h1 {
    color: black;
    padding-top: 20px;
}

body {
    background-color: coral;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-align: center;
}

.mijnDiv {
    width: 500px;
    margin: auto;
}

#bovenbalk {
    background-color: white;
    width: 100%;
    height: 13vh;
    border-bottom: 1.5px solid black;
    position: fixed;
    top: 0;
    left: 0;
}

main {
    margin-top: 12vh;
}

#fotoJonas {
    border: 3px solid black;
    max-width: 50%;
}

header {
    text-align: left;
}

@media (max-width: 500px) {
    .mijnDiv {
        max-width: 350px;
    }

    #bovenbalk {
        height: 80px;
    }

    .mijnDiv2 {
        max-width: 390px;
        margin: auto;
    }

    h1 {
        padding-top: 0;
    }

    main {
        font-size: 13px;
    }
}